* {
    box-sizing: border-box;
}

body {
    background: lightblue
}

form {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

section {
    margin: 200px auto;
    width: 70%;
    text-align: center;
    font-size: 40px;

}
 
input {
    height: 40px;
    width: 300px;
    margin: 80px 50px;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
    
}

button {
    margin: 100px auto;
    font-size: 6px;
    cursor: pointer;
    transition: 0.7s;
    width: 120px;
    height: 100px;
    border-radius: 20px;
    color: purple
}

button:hover {
    width: 460px;
    height: 240px;
    background: lime;
    color: yellow;
    font-size: 90px;
}

div {
    margin: 100px;
}

a {
    margin: auto;
    background: lime;
    font-size: 10px;
    padding: 30px;
    border-radius: 20px;
    transition: 1.3s;
    box-shadow: 1px 2px 3px 4px;
}

a:hover {
    background: darkblue;
    color: red;
    padding: 100px;
    font-size: 60px;
}