* {
    box-sizing: border-box;

;
}

body {
    background: deepskyblue;
}


section {
    margin: 70px auto;
    width: 80%;
    text-align: center;
    font-family: monospace;
}

thead {
    font-size: 25px;

}

table {
    margin: auto;
    width: 80%;
    padding: 30px;
    border-radius: 30px;
    background: -webkit-linear-gradient(yellow, orange);
    text-align: center;
    font-size: 20px;
    box-shadow: 1px 2px 3px 10px;
}

th {
    margin: 10px;
    border: 10px solid blue;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 1px 2px 3px 4px;
}

td {
    margin: 5px;
    border:2px outset blue;
    padding: 20px;
    border-radius: 200px;
    box-shadow: 1px 2px 3px 4px;
}

button, a {
    margin: 60px auto;
    background: -webkit-linear-gradient(yellow, orange);
    font-family: monospace;
    font-size: 40px;
    padding: 40px 50px;
    border: 10px solid blue;
    border-radius: 20px;
    box-shadow: 1px 2px 3px 4px;
    cursor: pointer;
    transition: 0.6s;
}

button:hover, a:hover {
    background: lime;
}

.line-totals, #order-total {
    font-size: 24px;
    font-weight: bold;

}

ul {
    list-style: none;
}


li {
    margin: 20px auto;
}

.remove-line-button {
    margin: 25px auto;
    margin-left: 50px;;
    font-size: 20px;
    padding: 10px;
}